name: Publish Docker image

on:
  push:
    tags:
      - v*

permissions:
  packages: write

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u kitproj --password-stdin

      - name: Create builder instance
        run: docker buildx create --use

      - name: Build and push latest Docker image
        run: docker buildx build --push --platform linux/amd64,linux/arm64 --tag ghcr.io/kitproj/sim:latest .

      - name: Build and push tagged Docker image
        run: docker buildx build --push --platform linux/amd64,linux/arm64 --tag ghcr.io/kitproj/sim:${GITHUB_REF#refs/*/} .
